body{
    background-color: #f9f9f9;
}
.global{
    align-self: center;
    width: 1060px;
    height: 950px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: white;
    padding:50px 46px 60px 50px;
    box-shadow:-1px 0px 4px 0px rgba(0, 0, 0, 0.65);
    margin: auto;
    line-height: 1.5;
}
#navigation {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width:965px;
    height:40px;
     background-color: #bababa;
    
}
#navigation li {
float: left;
    display:block;
    position: relative;
    padding-left:88px;
    text-shadow:1px 1px 2px black;
    font-size: 20px;
    margin-top:3px;
}
A {
    color:white;
   }
   A:visited {
    color: white;
   }
   A:active {
    color:white;
}
a{
    text-decoration: none;
}
