body{
    background-color: #f9f9f9;
}
.global{
    align-self: center;
    width: 1060px;
    height: 950px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: white;
    padding:50px 46px 60px 50px;
    box-shadow:-1px 0px 4px 0px rgba(0, 0, 0, 0.65);
    margin: auto;
    line-height: 1.5;
}
#navigation {
    margin-bottom: 40px;
    padding: 0px;
    list-style: none;
    width:1060px;
    height:40px;
     background-color:#515151;
    
}
#navigation li {
float: left;
    display:block;
    position: relative;
    padding-left:88px;
    text-shadow:1px 1px 2px black;
    font-size: 16px;
    margin-top:7px;
    font-family:serif;
}
A {
    color:white;
   }
   A:visited {
    color: white;
   }
   A:active {
    color:white;
}
a{
    text-decoration: none;
}
.logo{
    margin-bottom:20px;
}

.leftpanel{
    width:216px;
    height:10px;
    border-top:1px solid #c8c8c8;
    border-right:1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    padding-left:24px;
    padding-top: 7px;
    padding-bottom:23px;
    color:grey;
}
#lastpanel{
    border: 1px solid #c8c8c8;
    width:216px;
    height:10px;
    padding-left:24px;
    padding-top: 7px;
    padding-bottom:23px;
    color:grey;
}

#thirdpanel{
    border-top:1px solid #c8c8c8;
    border-right:1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    width:206px;
    height:10px;
    background-color: #f9f9f9;
    padding-left:34px;
    padding-top: 7px;
    padding-bottom:23px; 
   
}
